<style>
    .spinner {
        display: block;
        margin: 0 auto 0 auto;
        text-align: center;
    }
</style>
<div class="spinner ant-spin ant-spin-lg ant-spin-spinning">
    <span class="ant-spin-dot ant-spin-dot-spin">
        <i class="ant-spin-dot-item"></i>
        <i class="ant-spin-dot-item"></i>
        <i class="ant-spin-dot-item"></i>
        <i class="ant-spin-dot-item"></i>
    </span>
</div>