<div>
    <style>
        th.sort.sort-desc::after {
            content: '▼';
        }
        th.sort.sort-asc::after {
            content: '▲';
        }
    </style>
    <div class="ant-table ant-table-default ant-table-scroll-position-left">
        <table></table>
    </div>
</div>